@import "tailwindcss";

::-webkit-scrollbar{
  display: none;
}
html {
  scroll-behavior: smooth;
  width: 100%;
}

body{
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #FFFBD9;
  --color-primary-100: #FFF8ED;
  --color-secondary: #5E4A2F;
  --color-secondary-100: #6C5A42;
  --color-black: #1A1A1A;
  --color-black-10: #0000001A;
  --color-black-90: #0000006E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
}

.fade-in-up {
  animation: fade-in-down 0.6s ease-out forwards;
}

.fade-in-left {
  animation: fade-in-left 0.6s ease-out forwards;
}
